<template>
 <div class="user-test">
  
      <div class="box">
       
      <div class="box">
		<div class="box-header">
			<div class="flex-container">
				<div class="box-title">
					<span class="caption"> User View </span>
				</div>
				 <div class="btn-group">
				    <a route-href="route: userUpdate; params.bind:{id:userData.id}" class="btn btn-light btn-sm" title="Update User" > <i class="fa fa-pencil fa-fw"></i> Update </a>
					<a route-href="route: userList" class="btn btn-primary btn-sm" title="Back To List" > <i class="fa fa-reply-all fa-fw"></i>  </a>
		        </div> 
			</div>
		</div>
		
		<div class="box-body">
		
		
		   <div class="row" with.bind="userData">
		      <div class="col-sm-4">
		      
		         <div class="view-item">
		           <div class="item-name">
		            name
		           </div>
		           <div class="item-value">
		             ${name}
		           </div>
		         
		         </div>
		          <div class="view-item">
		           <div class="item-name">
		            country
		           </div>
		           <div class="item-value">
		             ${country}
		           </div>
		         </div>
		         
		      </div>
		     
		   </div>
		
		      
       </div>
  
     </div>
   </div>
  </div>
</template>